* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: #2b1e0f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, "Segoe UI", sans-serif;
}

.game_container {
  position: relative;
  background: #5a3e1b;
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

.game_screen {
  position: relative;
  display: block;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  cursor: grab;
  border-radius: 12px;
  overflow: hidden;
  width: 900px;
  height: 550px;
}

footer {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  color: #c7a55b;
}

/* Слои для передней и задней стойки */
.front_desk,
.back_desk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.front_desk {
  background-image: url(./img/main_assets/frontdesk.png);
  opacity: 1;
  pointer-events: auto;
}

.back_desk {
  background-image: url(./img/main_assets/backside.png);
  opacity: 0;
  pointer-events: none;
}

/* Состояния */
.front_desk.inactive {
  opacity: 0;
  pointer-events: none;
}

.back_desk.active {
  opacity: 1;
  pointer-events: auto;
}

#back_desk {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#coffee_maker,
#coffee_grinder,
#tamper_zone,
#cups_container {
  /* border: 2px solid white; */
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 65px;
}

#coffee_maker {
  width: 120px;
  height: 100px;
  margin-left: 55px;
  background-color: rgb(75, 69, 69);
}

#coffee_grinder {
  width: 120px;
  height: 250px;
  margin-left: 220px;
  background-image: url(./img/main_assets/coffee_grinder.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* 👈 добавляем центрирование */
  /* background-position: center -35px; */
}

#coffee_grinder #holder {
  margin-left: 16px;
}

#tamper_zone #holder {
  margin-left: 20px;
}

#cups_container {
  width: 150px;
  height: 50px;
  margin-left: 500px;
  contain: content;
  display: flex;
  gap: 10px;
}

#tamper_zone {
  width: 90px;
  height: 30px;
  margin-left: 350px;
}

#holder {
  width: 80px;
  height: 80px;
}

/* .cup {
  background-image: url(./img/main_assets/cup.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
} */

.cup {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.milk_box {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.holder {
  position: absolute;
  bottom: 0;
  left: 0;
}

.holder_in_maker {
  background-color: #2b1e0f;
  border: 2px solid white;
  position: absolute;
  bottom: 80%;
  left: 47px;
}

.holder_in_grinder {
  background-color: #2b1e0f;
  border: 2px solid white;
  position: absolute;
  left: 28px;
  bottom: 10%;
}

.holder_in_tamper_zone {
  background-color: #2b1e0f;
}

.cup_in_maker {
  width: 20px;
  height: 50px;
  background-color: rgb(236, 132, 132);
  border: 2px solid red;
  border-style: dashed;
  position: absolute;
  left: 47px;
  bottom: 0;
}

.cup_filled {
  background-color: rgb(136, 218, 136);
  border: 2px solid green;
  border-style: dashed;
}

.limited {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 20px;
  height: 20px;
  border-style: none;
  border-radius: 10px;
  position: absolute;
}

.btn:hover {
  background-color: #87e25d;
  transition: 0.1s ease-out;
}

#serving_zone {
  width: 200px;
  height: 250px;
  border: 2px solid white;
  position: absolute;
  top: 0;
  margin-left: 100px;
  margin-top: 100px;
}

.hover_effect {
  background-color: #87e25d;
  transition: all 0.2s;
}

/* кнопки переключения между досками */

/* для кнопки перехода на заднюю доску */

#toBackBtn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s;
}

#toBackBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(241, 35, 20, 0) 0%,
    rgba(255, 20, 4, 0) 100%
  );
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

#toBackBtn:hover {
  opacity: 1;
}

#toBackBtn:hover::before {
  background: radial-gradient(
    circle,
    rgba(135, 226, 93, 0.9) 0%,
    rgba(135, 226, 93, 0.6) 30%,
    rgba(135, 226, 93, 0.2) 60%,
    transparent 100%
  );
  transform: scale(1);
  width: 200%;
  height: 200%;
  top: -25%;
  left: -25%;
}

/* для кнопки перехода на переднюю доску */

#toFrontBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

#toFrontBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(241, 35, 20, 0) 0%,
    rgba(255, 20, 4, 0) 100%
  );
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

#toFrontBtn:hover {
  opacity: 1;
}

#toFrontBtn:hover::before {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(34, 51, 25, 0.6) 30%,
    rgba(87, 133, 65, 0.2) 60%,
    transparent 100%
  );
  transform: scale(1);
  width: 200%;
  height: 200%;
  top: -70%;
  left: -20%;
}

#table_backDesk,
#table_frontDesk {
  position: absolute;
  height: 50px;
  width: 300px;
  /* border: 2px solid white; */
  bottom: 0px;
  left: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#table_frontDesk {
  margin-bottom: 25px;
}

.cup_on_table {
  /*не используется*/
  position: relative;
}

.holder_on_table {
  /*не используется*/
  position: relative;
}

#transfer_toFront {
  position: absolute;
  height: 50px;
  width: 300px;
  /* border: 2px solid white; */
  top: 0px;
  left: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#transfer_toBack {
  position: absolute;
  height: 15px;
  width: 300px;
  /* border: 2px solid white; */
  bottom: 0px;
  left: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tamper {
  width: 20px;
  height: 30px;
  border: 2px solid white;
  background-color: #26413e;
}
